@import "tailwindcss";
@import "tw-animate-css";



#root {
  width: 100%;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

