@import "tailwindcss";
@import "tw-animate-css";

#root {
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  min-height: 100vh;
}

