@import "tailwindcss";
@import "tw-animate-css";

#root {
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

#about, #projects {
  scroll-margin-top: 20vh;
}

