@import "tailwindcss";

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}

@layer utilities {
  .animate-shine {
    animation: shine 5s linear infinite;
  }
  
  .animate-star-movement-bottom {
    animation: star-movement-bottom linear infinite alternate;
  }
  
  .animate-star-movement-top {
    animation: star-movement-top linear infinite alternate;
  }
}




:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


:root {
    color: #b3aeae;
    background-color: #000000;
  }

h1 {
color: white;
}

a {
  position: relative;
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}